.form-size{
    width: 40rem;
    max-width: 95%;
    margin: 5px auto;
    text-align: center;
}
.form-controls{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin :2rem auto;
    text-align: left;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 35rem;
    max-width: 100%;
}

.todo__actions{
    margin-right: 10%;
    text-align: right;
}
.todo__actions button{
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.todo__actions button:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.todo__actions button:focus{
    outline: none;
}
